{% extends "base.html" %}

{% block title %}Trang chủ{% endblock %}

{% block content %}

<!-- sensor section start -->

<section class="info" id="info">

    <h1 class="heading">thông tin <span>đồ án</span></h1>

    <div class="content">
        <p>Vận chuyển hàng hóa tự động trong sản xuất, lưu trữ là điểm mấu chốt để tối ưu hóa chuỗi cung ứng sản phẩm. Robot tự hành (AGV) là một trong những giải pháp để cải tiến quá trình vận chuyển.</p>
        <p>Phạm vi đồ án nghiên cứu phát triển robot tự hành (AGV) kiểu chở hàng. Kiểu AGV chở hàng có thể kết hợp với băng tải trong dây chuyền sản xuất, lắp ráp và cánh tay robot. Ưu điểm của AGV chở hàng di chuyển linh hoạt hơn so với kiểu kéo hàng, đặc biệt là trong điều kiện di chuyển có đường đi hẹp, góc cua nhỏ. Đề tài đưa ra tổng quan, phân tích và thiết kế một robot tự hành trong nhà xưởng, đồng thời xây dựng một giải thuật tính toán đường đi cho robot tự hành trong nhà xưởng.</p>
        <p>Công nghệ sử dụng: Xử lý ảnh (OpenCV), Web (Flask, HTML/CSS), GUI (Tkinter).</p>
        <p>Tính năng: tự hành theo line và mã QR; giám sát qua màn hình trên xe; điều khiển qua web.</p>
        <p></p>
    </div>

    <hr>

    <div class="member">
        
    </div>

    <div class="member">
        <div class="box-master">
            <img src="static/images/thay_tuan.jpg" alt="">
            <div class="member-content">
                <h3 class="member-text">GVHD: TS.Hoàng Sỹ Tuấn</h3> 
                <i class="member-text">Khoa Cơ Điện Tử</i><hr>
                <p class="member-text"><b>Lĩnh vực nghiên cứu</b></p>
                <p class="member-text">- Thiết kế hệ thống điều khiển số (PLC) trong công nghiệp</p>
                <p class="member-text">- Thiết kế xe tự hành (AGV)</p>
                <p class="member-text">- Mô hình hóa cơ tính vật liệu phi tuyến gia cường sợi, vật liệu điện-từ trường compozit nền đàn dẻo bằng phần tử hữu hạn (FEM)</p>
            </div>
        </div>
                
        <div class="box">
            <img src="static/images/thanh.jpg" alt="">
            <h3 class="member-text">Lớp: khúc trung thành</h3> 
            <i class="member-text">CK.CĐT-08</i>
            <p><i class="member-text">MSSV: 20170911</i></p>
            <p class="member-text">- Lập trình xử lý ảnh dựa trên thư viện, phát triển thuật toán tìm đường bằng dò line. <br>
                - Ngoài ra, tham gia hỗ trợ vào công việc thiết kế mô hình 3D xe tự hành bằng SolidWORKS, thuyết minh, đóng góp ý kiến và giải pháp gặp phải trong quá trình thực hiện đồ án.</p>
        </div>

        <div class="box">
            <img src="static/images/thinh.jpg" alt="">
            <h3 class="member-text">nguyễn đức thịnh</h3> 
            <i class="member-text">Lớp: CK.CĐT-08</i>
            <p><i class="member-text">MSSV: 20170927</i></p>
            <p class="member-text"> - Thiết kế, triển khai giao diện người dùng bằng ngôn ngữ Python.<br>
                - Tham gia hỗ trợ làm công việc thiết kế mô hình xe, bản vẽ, thuyết minh, đóng góp ý kiến và giải pháp trong quá trình thực hiện đồ án. </p>
        </div>

        <div class="box">
            <img src="static/images/thang.jpg" alt="">
            <h3 class="member-text">nguyễn xuân thắng</h3>
            <i class="member-text">Lớp: CK.CĐT-08</i>
            <p><i class="member-text">MSSV: 20170903</i></p>
            <p class="member-text">- Thiết kế mô hình 3D bằng SOLIDWORKS , thiết kế và kết nối mạch điện tử trong xe , tổng hợp thuyết minh. <br>
            - Hỗ trợ trong quá trình gia công chế tạo các chi tiết xe , góp ý cải tiến thuật toán điều khiển xe.</p>
        </div>

        <div class="box">
            <img src="static/images/son.jpg" alt="">
            <h3 class="member-text">nguyễn hồng sơn</h3> 
            <i class="member-text">Lớp: CK.CĐT-08</i>
            <p><i class="member-text">MSSV: 20170886</i></p>
            <p class="member-text">- Thiết kế, triển khai web dựa trên Flask framework, HTML/CSS đảm bảo yêu cầu kỹ thuật: nhận được tín hiệu cảm biến, điều khiển bằng tay xe tự hành.</p>
            <p class="member-text">- Ngoài ra, tham gia hỗ trợ vào công việc thiết kế mô hình 3D xe tự hành bằng SolidWORKS, thuyết minh, đóng góp ý kiến và giải pháp gặp phải trong quá trình thực hiện đồ án.</p>
        </div>
    </div>

</section>

<!-- sensor section start -->

{% endblock %}